@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuente Inter para un look moderno */

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-gray-50 text-gray-900 dark:bg-slate-950 dark:text-slate-100 transition-colors duration-300;
  -webkit-tap-highlight-color: transparent; /* Quitar flash azul en tap */
}

html {
  scroll-behavior: smooth;
}

/* UTILIDADES SAFE AREA (IPHONE) */
@supports (padding-bottom: env(safe-area-inset-bottom)) {
  .pb-safe {
    padding-bottom: calc(env(safe-area-inset-bottom) + 1rem); /* +1rem para dar un poco de aire extra */
  }
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
}